*{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    color: black;   
}

body{
    margin: 0;
    background-color: rgb(250, 231, 21);
}

.container{
    display: flex;
    justify-content: center; /* contenido en el centro */
    align-items: center; /* contenido en el medio de toda la pagina en y x */
    height: 100vh; /* lo alto el total de la bio */
}

.calc-buttons{
    grid-template-columns: repeat(4,75px); /* 4 columnas de un tamaño de 75px */
    grid-template-rows: 160px repeat(5,75px); /* alto total del display */
    background-color:rgb(141, 139, 139);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 15px 10px 0px 5px rgb(95, 94, 94);
}

button{
    cursor: pointer;
    margin: 10px;
    padding: 25px;
    border-radius: 25px;
    font-size: 1.5em;
    border: none;
    background-color: rgb(172, 172, 172);

}

.calc-button:active{
    background-color: rgb(143, 220, 246); /* al tocar cambia a este color*/
    
}

.calc-button:focus{
    outline: none; /* se muestra que boton tocamos*/
}

#col-3{
   width: 225px;
}

.screen{
    background-color: rgb(143, 220, 246);
    border: 1px;
    border-radius: 16px;
    color: black;
    font-size: 60px;
    padding: 20px;
    text-align: right;
    width: 300px;
    height: 80px;
}